@media (prefers-color-scheme: light) {
  a:hover {
    color: #61dafb;
  }
}

main {
  padding: 1em;
  margin: 0 auto;
  background: #fff;
  color: rgba(0,0,0,0.8);
}

h3 {
  color: #61dafb;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 200;
  line-height: 1.2rem;
  margin: 2rem auto;
}
